@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@font-face {
    font-family: caros;
    src: url("fonts/caros-bold.otf") format("opentype");
}

.page {
    background-color: #fffded;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    font-family: "IBM Plex Serif", serif;
    justify-content: center;
    margin: 20px auto;
    width: 60%;
}

.name-col {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.data-col {
    flex-basis: 35%;
}

.container {
    margin: 0 25px 35px 0;
}

h1 {
    border-top: 4px solid black;
    font-family: "caros";
    font-size: xxx-large;
    line-height: 50px;
    padding: 5px 0 10px 0;
    margin: 20px 0 0px 0;
}

header {
    font-family: "Playfair Display", serif;
    line-height: 18px;
}

p {
    margin: 0;
}

ul {
    padding-left: 15px;
}

.name {
    font-size: larger;
    line-height: 30px;
}

.split {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.domain {
    color: black;
}
